@import "tailwindcss";

@layer utilities {
  .text-aim-primary {
    @apply bg-gradient-to-r from-[#c2e0f9] to-[#2e77b3] bg-clip-text text-transparent;
  }
  .text-aim-secondary {
    color: white;
  }

  .bg-aim-primary {
    background-color: #0f172a;
  }
  .bg-aim-secondary {
    @apply bg-gradient-to-r from-[#2e77b3] to-[#1c4a6b];
  }

  .bg-aim-navbar-top {
    background-color: #121b31;
  }
  .bg-aim-navbar-left {
    background-color: #17213a;
  }
}

body {
  background-color: #0f172a;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #17213a;
  @apply shadow-lg;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  box-shadow: #00000048 0px 0px 10px 0px;
}
.sidebar.close {
  width: 78px;
}
.sidebar.close .logo {
  margin-right: 15px;
  transition: 0.5s ease-in-out;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details svg {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar.close .logo-details .icon,
.sidebar.close .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.close .logo-details #btn {
  text-align: right;
}
.sidebar svg {
  color: #000;
  height: 40px;
  min-width: 30px;
  text-align: center;
}
.sidebar .nav-list {
  margin-top: 100px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #fff;
}
.sidebar li a:hover {
  background: rgba(0, 34, 108, 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 1px transparent, 0 0 0 1px #2e77b3 inset;
}
.sidebar li a.active {
  background: rgba(0, 34, 108, 0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 1px transparent, 0 0 0 1px #2e77b3 inset;
}
.sidebar li a.active svg {
  color: #337cdb;
}
.sidebar li a.active .links_name {
  color: #fff;
  @apply bg-gradient-to-r from-[#c2e0f9] to-[#2e77b3] bg-clip-text text-transparent;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.close li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name {
  @apply bg-gradient-to-r from-[#c2e0f9] to-[#2e77b3] bg-clip-text text-transparent;
}
.sidebar li a:hover svg {
  color: #337cdb;
  transition: all 0.5s ease;
}
.sidebar li svg {
  color: #fff;
  height: 40px;
  line-height: 50px;
  font-size: 15px;
  border-radius: 6px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #fff;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.close li.profile {
  width: 78px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}

.app-main {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 250px;
  z-index: 0;
  width: calc(100% - 250px);
}
